<div id="rodape">
  	<div class="copyright">
		Rua João Pessoa, 259 - Centro - Natal / RN - 59025-500<br />
		Fone: +55 (84) 3212.2348 - Email: contato@ipinatal.com.br<br />
		Copyright (c) 2010 - 1ª Igreja Presbiteriana Independente do Natal<br /> 
		Realização: Ministério de Comunicação / Desenvolvimento: Allyson Barros
	</div>
</div>