
<div id="topo">
    	<div class="logomarca">
			 	<%=link_to (image_tag "logomarca.jpg", :alt => "1ª Igreja Presbiteriana Idependente do Natal"), :controller => "principal", :action => "index" %>
			</div>
      <div class="menu-banner">
      	<div class="menu-cima">
        	<ul>
          	<li><a href="http://www.twitter.com/ipinatal" target="_blank"><%= image_tag ("icon-twitter.gif") %> Siga-nos no Twitter</a></li>
            <li><a href="#"><%= image_tag "icon-favoritos.gif"%> Adicionar aos Favoritos</a></li>
       	  </ul>
        </div>
        <div class="banner-superior"><%= image_tag "banner-topo.jpg"%>	</div>
      </div>
    </div>