<div id="textos">
	
	<div id="lista-pastores">
		<div class="item-pastores">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Rev. Kebler Nobre de Queiroz</div>
				<div class="email"><%= mail_to "kebler@ipinatal.com.br" %></div>
				<div class="telefone">(84) 3232-3232 / 3232-3232</div>
			</div>
		</div>
			
	</div>
	
	<h2> Biografia </h2>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc arcu, suscipit nec sodales ornare, imperdiet et enim. Fusce euismod, arcu non elementum mattis, nisi urna euismod mauris, vitae aliquet risus purus ut lorem. Aliquam erat volutpat. Aliquam erat volutpat. Donec tempor sodales erat, sit amet facilisis neque gravida vel. Praesent id ipsum et augue dignissim varius quis ac libero. Suspendisse quis erat vel turpis fringilla commodo et sed lorem. Donec placerat tristique nisl dictum ullamcorper. Cras sodales ornare convallis. Morbi libero neque, viverra eget viverra at, consequat eu orci. Nam porttitor molestie lorem sit amet laoreet. Nulla facilisi. Maecenas sagittis commodo magna, sit amet aliquam augue iaculis eu.</p>

<p>Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis.</p>

</div>