<div id="textos">
	
<p>Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis.</p>

<h2>Download dos Boletins</h2>

	<div id="lista-boletins">
		<% 1.upto(30) do %>
			<div class="item-boletim"><a href="/boletim03.pdf" target="_blank"><%= image_tag "icon-pdf.png"%> &nbsp; Boletim 03 / 17 de Janeiro de 2010</a></div>
		<% end %>
	</div>

</div>